# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx/cache
/.github/workflows
/apps/admin-app/src/components/ui/
/packages/orm/src/migrations/
/pnpm-lock.yaml
**/*.d.ts
**/*.d.js
**/*.md
